<div> {{ 'init_password' | trans({}, 'platform') }} </div>
<div> {{ 'your_username' | trans({}, 'platform') }} : {{ user.getUsername() }}</div>
<a href='{{ link }}'>{{ 'initialize' | trans({}, 'platform') }}</a>
